.slide {
    width: 840px;
    background-color: rgba(42, 42, 46, 0)
}
.carousel-item {
    width: 41vh;
    left: 200px;

}
.mouseAuri {
    width: 395px;
}
.divAuri {
    margin-top: 75px;
    margin-left: 20px;
}

.divMouse {
    margin-left: 20px;
}
