
.divNoti {
    border: solid 3px rgba(232, 161, 238, 0.836);
    margin: 50px;
    padding: 5px;
}

.divNoti img {
    width: 308px;
    height: auto;
}
.mainNoti {
    margin: 30px;
    background-color: rgba(83, 82, 82, 0.253);
    opacity: 0.9;
    
}

summary {
    font-size: 2em;
    font-weight: bold;
    color: black;
    font-family: italic;
}