$font-size: 3em; 

h1 {
    color:  rgba(248, 12, 24, 0.952);
    text-align: center;
    font-size: $font-size*0.8+1;
}
p {
    font-size: $font-size/2;
    color: black;
    font-weight: bold;
}
.textoIndex {
    margin-top: 65px;
}
h2 {
    margin: 30px;
    padding: 30px;
    margin-top: 50px;
    color: black;
    font-size: 1.5em;
    font-weight: bold;
}
.linksWeb {
    font-size: 1em;
    font-family: italic;
    font-weight: bold;
    color: red;
}
.linksWeb:hover {
    color: red;
}